html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.text-center{
  text-align: center;
  padding:5% ;
}
/* nav-1 */



#logo{
  width: 75%;
  
}



#sign-in-btn{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right:5% ;
  height: 15%;
  width: 100px;
  padding-top: 5px;
  padding-bottom:5px;
}

#sign-in-btn:hover{
  background-color: #cfcdcd;
  color: black;
}

#join-btn{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right:5% ;
  height: 15%;
  width: 100px;
  padding-top: 5px;
  padding-bottom:5px;
}


/* 2nd Navbar */




/* block-1 */

.block-1-container{
  text-align: left;
  padding-left:50px ;
}
.pre-img-div{
  
  padding-top: 50px;
  height: 500px;
  background-color:  #d5e5e1;
}

.block-1-img{
  padding-left: 0;
  height: 100%;
   width: 100%;

}

/* block-2 Section */



.block-2-grid{
  padding-top: 5%;
  margin:0 5% 0 5%;
}

.grid-column{
  margin: 15px;
}

.block-2-img{
 width:50px ;
}

