html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.text-center{
  text-align: center;
  padding:5% ;
}
/* nav-1 */



#logo{
  width: 75%;
  
}



#sign-in-btn{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right:5% ;
  height: 15%;
  width: 100px;
  padding-top: 5px;
  padding-bottom:5px;
}

#sign-in-btn:hover{
  background-color: #cfcdcd;
  color: black;
}

#join-btn{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-right:5% ;
  height: 15%;
  width: 100px;
  padding-top: 5px;
  padding-bottom:5px;
}


/* 2nd Navbar */




/* block-1 */

.block-1-container{
  text-align: left;
  padding-left:50px ;
}
.pre-img-div{
  
  padding-top: 50px;
  height: 500px;
  background-color:  #d4e9e2;
}

.block-1-img{
  padding-left: 0;
  height: 100%;
   width: 100%;

}

/* block-2 Section */



.block-2-grid{
  padding-top: 5%;
  margin:0 5% 0 5%;
}

.grid-column{
  margin: 15px;
}

.block-2-img{
 width:50px ;
}


/* block-3 */

.block-3_1{
  padding:2rem 0 5rem 0;
  background-color: #f1f8f6;

}

.block-3_2{
  background-color: #f1f8f6;

    
}

.block-3_2 button{
  font-size: 1.5rem;
  border: 0 ;
  background-color: transparent;
  /* padding: 0 2% 3% 2%; */
}



button hr{
  border:3px solid rgb(6, 80, 68);
}


/* Funny code */

.tab {
  overflow: hidden;
 
  background-color: aqua;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {

  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Funny code */



/* block-4 */

.block-4{
  text-align: center;
}

.block-4-img{
  width: 35%;
  padding-bottom: 25px;
}

.block-4-grid{
  padding-top: 5%;
  margin:0 5% 0 5%;
}

.grid-column h4{
  padding-bottom:20px ;
}

.grid-column a:hover{
  text-decoration: none;
}


/* block-5 */

.block-5{
  background-color:#f3f1e7;
  text-align: center
}

.block-5-img{
  width: 10%;
  padding-bottom: 25px;
  float: left;
}


/* block-6 */

.block-6{
  margin-left: 20%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10%;
}

.b6-A{
 padding-top: 10%;
 padding-bottom: 10%;
}

.b6-B p{
  padding-right: 50%;
}

/* block-7 */

.block-7{
  background-color: #f3f1e7;
  
}

.b7-A{
 text-align: left;
 padding-left:30px ;
 padding-right: 50px;
 margin-top: 0;
}

.b7-B{
  text-align: left;
}


/* block-8 */

.block-8{
  padding:5% 3% 5% 5% ;
}

/* block-9 */

.block-9{
  margin-left:30px;
  padding-bottom:20px;
}

.block-9 a{
  color: black;
}
